<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>

    <script>
        // Example of passing a server-side variable into JavaScript
        const currentUsername = "<%= locals.username %>";
    </script>

    <script>
        // Establish the WebSocket connection
        const socket = new WebSocket('ws://localhost:8080');
  
        // Event listener for when the connection opens
        socket.addEventListener('open', function (event) {
            // Connection opened
  
            // Send a message
            socket.send('your initial message');
        });
  
        // Event listener for incoming messages
        socket.addEventListener('message', function (event) {

            // Log the type of event.data
            console.log('Type of data received:', typeof event.data);

            // Further type checking if event.data is an object
            if (typeof event.data === "object") {
                console.log('The data is of object type. Checking instanceof...');
                if (event.data instanceof Blob) {
                    console.log('Data is a Blob');
                } else if (event.data instanceof ArrayBuffer) {
                    console.log('Data is an ArrayBuffer');
                } else {
                    console.log('Data is an object, but not a Blob or ArrayBuffer');
                }
            }            
            // Check if the incoming message is a Blob

        if (event.data instanceof Blob) 
        {
            // Convert Blob to text to parse as JSON
            const reader = new FileReader();
            reader.onload = function() 
            {
                // Parse the text as JSON
                const jsonObj = JSON.parse(reader.result);

                // Check if the jsonObj contains the sendingDoctor property
                if (jsonObj.hasOwnProperty('hospitalUsername')) {
                    // Check if sendingDoctor is for the current user
                    console.log('currentUsername:', currentUsername)
                    const notificationIndicator = document.querySelector('.notification-indicator');
                    if (jsonObj.hospitalUsername === currentUsername) {
                        console.log('This message is for us:', jsonObj);

                        notificationIndicator.style.display = 'block';
                        // notificationIndicator.innerHTML = '<p>New message: ' + JSON.stringify(jsonObj, null, 2) + '</p>';

                        //const messagesDiv = document.getElementById('messages');

                        //messagesDiv.innerHTML = '<p>New message: ' + JSON.stringify(jsonObj, null, 2) + '</p>';

                    } else {
                        console.log('This message is not for us.');
                        notificationIndicator.style.display = 'none';
                        notificationIndicator.innerHTML = '';
                    }
                } else {
                    console.log('JSON message from server does not contain a sendingDoctor property.');
                }    
                console.log('JSON message from server:', jsonObj);
            
            };
            reader.onerror = function(error) 
            {
                console.error('Error reading the Blob:', error);
            };
            reader.readAsText(event.data);
        }
        else 
        {
            // Handle non-Blob data (e.g., text)
            console.log('Message from server:', event.data);
        }
});
  
        // Example function to send messages
        function sendMessage(message) {
            socket.send(message);
        }


        function assignAndSendMessage(slotId, sendingDoctorId, sendingDoctorName, hospitalUsername, date, dutyHours, requiredSpecialty) {
            const data = {
                _id: slotId,
                sendingDoctorId: sendingDoctorId,
                sendingDoctorName: sendingDoctorName,
                hospitalUsername: hospitalUsername,
                date: date,
                dutyHours: dutyHours,
                requiredSpecialty: requiredSpecialty
            };

            fetch('/assign-duty-slot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(assignData => {
                console.log('Assignment Success:', assignData);

                // Update status display
                document.querySelector(`.status-display[data-slot-id="${slotId}"]`).innerText = 'pending'; // or assignData.status if your API responds with it

                // Update assigned doctor display
                document.querySelector(`.assigned-doctor-display[data-slot-id="${slotId}"]`).innerText = sendingDoctorName; // Assuming your API responds with the doctor's name under assignedDoctorName

                sendMessage(JSON.stringify(data)); // Call sendMessage on success
            })
            .catch(error => console.error('Error:', error));
        }

        function give_consent(slot_id, button)
        {
            const data =
            {
                _id: slot_id
            };

            fetch('/give-consent',
            {
                method: 'POST',
                headers:
                {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(consentData =>
            {
                console.log('Consent Success:', consentData);

                // Assuming your API responds with the updated slot status, update the UI accordingly
                document.querySelector(`.status-display[data-slot-id="${slot_id}"]`).innerText = 'filled'; 

                // Disable the button
                button.disabled = true; // Disable the button to prevent further clicks
                button.classList.add('disabled'); // Optionally add 'disabled' class for styling


            })
            .catch(error => console.error('Error:', error));
        }

    </script>
  
  
  <%- include('partials/_header.ejs') %>
<main class="container mt-5">
    <h2>Duty Slots</h2>
    <div class="mb-3">
        <input type="date" id="dateFilter" class="form-control" placeholder="Filter by Date">
        <input type="text" id="specialtyFilter" class="form-control mt-2" placeholder="Filter by Specialty">
    </div>
    <ul id="dutySlotsList" class="list-group">
        <% dutySlots.forEach(function(slot) { %>
        <li class="list-group-item">
            Hospital: <%= slot.hospitalId.username %><br>
            Date: <%= slot.date.toDateString() %><br>
            Duty Hours: <%= slot.dutyHours %><br>
            Required Specialty: <%= slot.requiredSpecialty %>
            Status: <span class="status-display" data-slot-id="<%= slot._id %>"><%= slot.status %></span><br>
            Assigned Doctor: <span class="assigned-doctor-display" data-slot-id="<%= slot._id %>"><%= slot.assignedDoctorId ? slot.assignedDoctorId.username : 'None' %></span><br>
            <% if (locals.role === 'doctor') { %>
                <% if (slot.status === 'open') { %>
                    <div class="btn btn-primary" onclick="assignAndSendMessage('<%= slot._id %>', '<%= locals.userId %>', '<%= locals.username %>' , '<%= slot.hospitalId.username %>', '<%= slot.date.toDateString() %>', '<%= slot.dutyHours %>', '<%= slot.requiredSpecialty %>')">Assign</div>
                <% } else if (slot.status === 'pending') { %>
                    <div class="btn btn-secondary disabled">Waiting for Consent</div>
                <% } else if (slot.status === 'filled') { %>
                    <div class="btn btn-primary" onclick="revokeAssignment('<%= slot._id %>')">Revoke</div>
                <% } %>
            <% } else if (locals.role === 'hospital') { %>
                <% if (slot.status === 'open') { %>
                    <div class="btn btn-secondary disabled">Waiting</div>
                <% } else if (slot.status === 'pending') { %>
                    <div class="btn btn-primary" onclick="give_consent('<%= slot._id %>', this)">Consent</div>
                <% } else if (slot.status === 'filled') { %>
                    <div class="btn btn-secondary disabled">Filled</div>
                <% } %>
            <% } %>

        </li>
        <% }); %>
    </ul>
    <% if (dutySlots.length === 0) { %>
    <p>No duty slots found.</p>
    <% } %>
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    <a href="/doctor/availabilities/rendered" class="btn btn-secondary mt-3">View Doctor Availabilities</a>
</main>
</body>
<%- include('partials/_footer.ejs') %>
<script src="/js/filterDutySlots.js"></script>
</html>